h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#real-alert {


    border-style: solid;
    border-width: 5px;
    color: darkred;
    border-color: red;
    font: bolder;
    font-size : 30px;
}

#test-only{

    border-style: solid;
    border-width: 5px;
    color: darkolivegreen;
    border-color: green;
}